.popup_error_visible {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
  opacity: 0;
  display: none;
  color: #ff0000;
}

@media screen and (max-width: 619px) {
  .popup_error_visible {
    margin-bottom: 20px;
  }
}

.popup_error_visible:last-of-type {
  margin: 0;
}
