.popup__input {
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  height: 27px;
  color: #000000;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 30px;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

.popup__input:invalid {
  border-bottom: 1px solid red; /* красная рамка для некорректных данных */
} 

.popup__input_error {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  }

  .popup_type_error {

  }