.popup__submit {
  background: url("./../../../images/Submit Button.PNG");
  width: 358px;
  height: 50px;
  margin-top: 48px;
}

@media (max-width: 530px) {
  .popup__submit {
    background: url("./../../../images/Submit Button s.PNG");
    max-width: 238px;
  }
}