.profile__change {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;
}

@media (max-width: 320px) {
  .profile__change {
    max-width: 320px;
  }
}
